@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.jokes-list {
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(243, 170, 170);
    -webkit-box-shadow: 5px 5px 15px 5px #FFBBBB; 
    box-shadow: 5px 5px 15px 5px #FFBBBB;

    .search-jokes {
        width: 100%;
        margin-top: 25px;
        display: flex;

        .search-input {
            width: 90%;
        }

        .search-submit {
            width: 10%;
        }
    }

    .jokes-list-joke, .jokes-list-edit-joke {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
